<!-- This page will show all artists that the current_user follows. -->

<div id = "search" class = "jumbotron">
<br><%= render 'form' %><br>
</div>

<h2 class="page-header">My Artists</h2>
<div class = "myArtists">
  <% if @my_artists.length == 0 %>
    <p>It doesn't look like you've followed any artists yet.<br>Get Out, (leave) right now,<br>
      It's the end of you and me</p>
  <% else %>

    <% @my_artists.each do |user_artist| %>
    <p><%= link_to user_artist.first.name, artist_path(user_artist.first.id) %> -- <%= link_to '<button class="btn btn-danger btn btn-primary btn-sm">Unfollow</button>'.html_safe, user_artist_path(user_artist.first.id), method: :delete, data: { confirm: 'Are you sure?' } %></p>

  <% end %>
    <ul>
        <% @events.each do |event| %>
<<<<<<< HEAD

        <li class= "jumbotron cityEvents" id="concerts"><%= event.artists.first.name %> -- <%= event.venue.name %> --
=======
        <p>Shows in your area:<p>
        <li class= "jumbotron cityEvents" id="concerts"><%= event.venue.name %> -- <%= event.venue.city%>, <%= event.venue.region%> --
>>>>>>> 24af0eba77af5253c3eb6ee0fc34f2cf2fa03134
        <%= event.datetime.strftime("%A, %B %d, %l%p") %>
        <% if event.ticket_status == 'available' %>
          <%= link_to '<i class="fa fa-ticket fa-2x"></i>'.html_safe, event.ticket_url %>
          <% end %>
        <% end %>
      </li>
    </ul>
<% end %>
</div>
