<p id="notice"><%= notice %></p>

<div id = "search" class = "jumbotron">
<h2 id="welcome">Welcome, <%=current_user.name%>!</h2>
<br><%= render 'form' %><br>
</div>



<h3 class="alert alert-dismissible alert-success">Check out these upcoming events in <%=current_user.location%>:</h3>

<br>

<ul class = "cityEvents">
 <% @events.each do |event| %>
  <li class = "shadeBox", class = "cityEvents" ><a href="<%=event.artists.first.bandsintown_url%>"><%=event.artists.first.name %></a> -- <%= event.venue.name %> -- <strong><%= event.datetime.strftime("%l%p, %A, %B %d") %></strong> --

  <% if event.ticket_status == 'unavailable' %>
  <%= 'No tickets available' %>
  <% else event.ticket_status == 'available' %>
  <%= link_to '<i class="fa fa-ticket fa-2x"></i>'.html_safe, event.ticket_url %>
  <% end %></li>



<br>

<% end %>




<%= link_to 'Follow New Artist', new_artist_path %>


