<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">
      <p id="notice"><%= notice %></p>

    <% if @events.length == 0 %>
          <%='No Concerts Available' %>
    <% else%>
      <p>
        <h1><%= @events.first.artists.first.name %></h1>
              <% if UserArtist.find_by(user_id: current_user.id, artist_id: @artist.id) %>
                <p><%= link_to '<button>Unfollow</button>'.html_safe, user_artist_path(@artist.id), method: :delete, data: { confirm: 'Are you sure?' } %></p>
              <% else %>
                <%= form_for(@user_artist) do |f| %>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                  <%= f.hidden_field :artist_id, value: @artist.id %>
                  <%= f.submit "Follow" %>
                <% end %>
              <% end %>
      </p>
      </div>
  </div>

  <p>
    <strong><h2>Concerts:</h2></strong>
  </p>


  <ul>
    <% @events.each do |event| %>
    <li class= "jumbotron cityEvents"><%= event.venue.name %> --
      <%= event.venue.city%>, <%= event.venue.region%>
      <%= event.datetime.strftime("%A, %B %d, %l%p") %>
      <% if event.ticket_status == 'unavailable' %>
          <%= 'No tickets available' %>
          <% else event.ticket_status == 'available' %>
          <%= link_to event.ticket_url do %>
             Tickets
          <% end %>
      <% end %>
    <% end %>
    </li>

  </ul>
  <% end %>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>

</div>




