<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <h1><a class="navbar-brand head"<%= link_to "BandSpy", root_path, method: :get%></a><h1>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <% if current_user %>
        <h4 id= "navGreet"><%= current_user.name %></h4>
        <ul class="nav navbar-nav navbar-right">


              <li><%= link_to "Home", root_path, method: :get %></li>
              <li><%= link_to "My Artists", user_user_artists_path(current_user.id), method: :get%></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Edit", edit_user_registration_path, method: :get%></li>


          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          <% end %>
          </ul>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
