<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @venue.city %>
</p>

<p>
  <strong>Region:</strong>
  <%= @venue.region %>
</p>
<%= link_to 'Back', venues_path %>
